nbprojetc/private/*
build/

dist/
nbdist/
nbactions.xml
nb-configuration.xml


.DS_Store
# Class Files #
*.class

# Package Files #
*.war
*.ear

# Logging Files #
*.log

# IntelliJIDEA #
.idea
out/production/
out/test/
*.iml

# SharUTC : user profile and songs#
users/
*.mp3
