nbproject/*
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear

# Logging Files #
*.log

# IntelliJIDEA #
.idea
out/production/
out/test/
*.iml