/* 
    Document   : style
    Created on : 3 oct. 2013, 22:07:59
    Author     : Alexandre
    Description:
        Purpose of the stylesheet follows.
*/

#leftpane {
    -fx-font-size:24;
    -fx-font-style: italic;
}

#topbar {
    -fx-background-color: #95A5A6;
}

#bottombar {
    -fx-background-color: #95A5A6;
}

#songsbutton {
    -fx-background-color: #33B5E5;
    -fx-background-radius: 0;
}

#songsbutton:hover {
    -fx-background-color: #0099CC;
}

#peoplebutton {
    -fx-background-color: #99CC00;
    -fx-background-radius: 0;
}

#peoplebutton:hover {
    -fx-background-color: #669900;
}

#artistsbutton {
    -fx-background-color: #FF4444;
    -fx-background-radius: 0;
}

#artistsbutton:hover {
    -fx-background-color: #CC0000;
}

#albumsbutton {
    -fx-background-color: #FFBB33;
    -fx-background-radius: 0;
}

#albumsbutton:hover {
    -fx-background-color: #FF8800;
}

#gridPane {
    -fx-background-color: #ECF0F1;
}

#rightpane {
    fx-padding : 16px;
}

.panetitle {
    -fx-font-size : 28px;
}

.itemBox{
    -fx-background-color: #FFFFFF;
}

.formLabel {
    -fx-font: 15px Tahoma;
    -fx-text-fill: #ECF0F1;
}

.formButton {
    -fx-text-fill: #95A5A6;
    -fx-background-color: #ECF0F1;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 8;
}

.formButton:hover {
    -fx-opacity: 0.7;
}


/* custom scrollbar of myScrollPane */
.myScrollPane .scroll-bar:horizontal,
.myScrollPane .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.myScrollPane .increment-button,
.myScrollPane .decrement-button {
    -fx-background-color:#F0F0F0;
    -fx-border-color: #F0F0F0;
}

.myScrollPane .scroll-bar:horizontal .track ,
.myScrollPane .scroll-bar:vertical .track{
    -fx-background-color: #F0F0F0;
    -fx-border-color: #F0F0F0;
    -fx-background-radius: 0em;
}

.myScrollPane .scroll-bar:horizontal .thumb,
.myScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #CDCDCD;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;

}

.myScrollPane .scroll-bar .thumb:hover,
.myScrollPane .scroll-bar .thumb:pressed{
    -fx-background-color: #A6A6A6;
}
