/* 
    Document   : style
    Created on : 3 oct. 2013, 22:07:59
    Author     : Alexandre
    Description:
        Purpose of the stylesheet follows.
*/

#leftpane {
    -fx-font-size:24;
    -fx-font-style: italic;
}

#topbar {
    -fx-background-color: #95A5A6;
}

#topBarRightPart{
    -fx-border-color: #ECF0F1;
    -fx-border-width: 0px 0px 0px 1px; 
}

#labelMyProfile {
    -fx-text-fill: #ECF0F1;
    -fx-font: 15px Tahoma;

}

#sharUtcTitle {
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 20px;
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
}

#labelMyProfile:hover {
    -fx-opacity: 0.6;
}

#bottombar {
    -fx-background-color: #BDC3C7;
}

#songsbutton {
    -fx-background-color: #33B5E5;
    -fx-background-radius: 0;
}

#songsbutton:hover {
    -fx-background-color: #0099CC;
}

#peoplebutton {
    -fx-background-color: #99CC00;
    -fx-background-radius: 0;
}

#peoplebutton:hover {
    -fx-background-color: #669900;
}

#artistsbutton {
    -fx-background-color: #FF4444;
    -fx-background-radius: 0;
}

#artistsbutton:hover {
    -fx-background-color: #CC0000;
}

#albumsbutton {
    -fx-background-color: #FFBB33;
    -fx-background-radius: 0;
}

#albumsbutton:hover {
    -fx-background-color: #FF8800;
}

#gridPane {
    -fx-background-color: #ECF0F1;
}

#rightpane {
    fx-padding : 16px;
}

.itemBox{
    -fx-background-color: #FFFFFF;
}

.formLabel {
    -fx-font: 15px Tahoma;
    -fx-text-fill: #ECF0F1;
}

.formButton {
    -fx-text-fill: #95A5A6;
    -fx-background-color: #ECF0F1;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 8;
}

.formButton:hover {
    -fx-opacity: 0.7;
}


/* card */
.simpleCard {
    -fx-padding: 10px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-opacity: 1.0;
}

.simpleCard:hover{
    -fx-border-width: 4px 4px 4px 4px;
}

.simpleCardClicked {
    -fx-border-width: 4px 4px 4px 4px;
}

.peopleCard {
    -fx-padding: 5px 0px 5px 10px;
    -fx-opacity: 1.0;
}

.cardDragged {
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-style : dashed;
    -fx-opacity: 0.4;
}

.groupCard {
    -fx-padding: 4px 4px 0px 4px;
}
.groupCard:hover {
    -fx-padding: 0px;
}

.albumCard {
    -fx-font-size : 18px;
}

.artistCard {
    -fx-font-size : 18px;
}

/* imagebutton */
.imageButton {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 2;
}

.imageButton:hover {
    -fx-opacity: 0.6;
}

/* custom scrollbar of myScrollPane */
.myScrollPane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.myScrollPane:focused {
    -fx-background-insets: 0;
}

.myScrollPane .corner {
    -fx-background-color:transparent;
}

.myScrollPane .scroll-bar:horizontal,
.myScrollPane .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.myScrollPane .increment-button,
.myScrollPane .decrement-button {
    -fx-background-color:#F0F0F0;
    -fx-border-color: #F0F0F0;
}

.myScrollPane .scroll-bar:horizontal .track ,
.myScrollPane .scroll-bar:vertical .track{
    -fx-background-color: #F0F0F0;
    -fx-border-color: #F0F0F0;
    -fx-background-radius: 0em;
}

.myScrollPane .scroll-bar:horizontal .thumb,
.myScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #CDCDCD;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;

}

.myScrollPane .scroll-bar .thumb:hover,
.myScrollPane .scroll-bar .thumb:pressed{
    -fx-background-color: #A6A6A6;
}

.myScrollPaneWithTopBorder {
    -fx-border-color: #BDC3C7;
    -fx-border-width: 2px 0px 0px 0px;
}

/* text */

.panetitle {
    -fx-font-size : 28px;
}

.panesubtitle {
    -fx-font-size : 20px;
}
.largeTextGrey ,
.largeTextGreyBold{
    -fx-font-size : 18px;
    -fx-text-fill: #BDC3C7;
}

.largeTextGreyBold{
    -fx-font-weight: bold;
}

.plusText{
    -fx-font-size : 60px;
    -fx-text-fill: #BDC3C7;
    -fx-font-weight: bold;
}

#boxtitle{
    -fx-border-color: #BDC3C7;
    -fx-border-width: 0px 0px 2px 0px;

}

.rectButton {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
#content{
    -fx-padding : 5px 3px 5px 3px;
}
.rectButton:hover {
    -fx-opacity: 0.7;
}

.bigBlueButton {
    -fx-padding : 7px 25px 7px 25px; 
    -fx-background-radius: 0;
    -fx-font-size : 13px;
    -fx-border-width : 0px 0px 2px 0px;
    -fx-background-color: #33B5E5;
    -fx-border-color : #0099CC;
}

.bigBlueButton:hover {
    -fx-opacity : 0.7;
}

.bgBlue{
    -fx-background-color: #33B5E5;
}

.bgGreen{
    -fx-background-color: #99CC00;     
}

.bgRed{
    -fx-background-color: #FF4444;
}

.bgOrange{
    -fx-background-color: #FFBB33;
}


/*
*  PlayList
*/

#playList {
    -fx-background-color: transparent;
}

#playList .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0px 7px 0px 7px;
}

#playList .scroll-bar:horizontal,
#playList .scroll-bar:vertical {
    -fx-background-color:transparent;
    -fx-padding : 10px 0px 3px 0px;
}

#playList .increment-button,
#playList .decrement-button {
    -fx-background-color:#BDC3C7;
    -fx-border-color: #BDC3C7;
}

#playList .increment-button .increment-arrow,
#playList .decrement-button .decrement-arrow {
    -fx-background-color : #BDC3C7;
}

#playList .scroll-bar:horizontal .track ,
#playList .scroll-bar:vertical .track{
    -fx-background-color: #BDC3C7;
    -fx-border-color: #BDC3C7;
    -fx-background-radius: 0em;
}

#playList .scroll-bar:horizontal .thumb,
#playList .scroll-bar:vertical .thumb {
    -fx-background-color: #ECF0F1;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;

}

#playList .scroll-bar .thumb:hover,
#playList .scroll-bar .thumb:pressed{
    -fx-background-color: #A6A6A6;
}

/* 
*   Play List Card
*/

.playListCard {
    -fx-padding: 0px;
    -fx-border-color: #7f8c8d;
}

#playList .list-cell:selected .playListCard {
    -fx-background-color: rgba(51,181,229,0.5);
}

.playListCardMusicTitle {
    -fx-font-size : 14px;
    -fx-text-fill: #7f8c8d;
    -fx-font-weight: bold;
}

#playList .list-cell:selected .playListCardMusicTitle {
    -fx-text-fill: #FFFFFF;
}
.playListCardMusicArtist {
    -fx-font-size : 12px;
    -fx-text-fill: #7f8c8d;
}

#playList .list-cell:selected .playListCardMusicArtist {
    -fx-text-fill: #ECF0F1;
}

#playList .playListCardPlaying {
     -fx-background-color: rgba(51,181,229,0.5);
}


.placeHolderLabel {
    -fx-text-fill: #7F8C8D;
    -fx-font-size: 25px;
}

/*
*	CheckBox
*/

.check-box .box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 2;
}

.check-box{
	-fx-text-fill: #BDC3C7;
}
.check-box:hover{
    -fx-opacity: 1.0;
}

.check-box .text {
   -fx-font-weight: bold;
}


.check-box .mark {
    -fx-background-color: #BDC3C7;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}