/* 
    Document   : style
    Created on : 3 oct. 2013, 22:07:59
    Author     : Alexandre
    Description:
        Purpose of the stylesheet follows.
*/

#leftpane {
    -fx-font-size:24;
    -fx-font-style: italic;
}

#topbar {
    -fx-background-color: #95A5A6;
}

#bottombar {
    -fx-background-color: #BDC3C7;
}

#songsbutton {
    -fx-background-color: #33B5E5;
    -fx-background-radius: 0;
}

#songsbutton:hover {
    -fx-background-color: #0099CC;
}

#peoplebutton {
    -fx-background-color: #99CC00;
    -fx-background-radius: 0;
}

#peoplebutton:hover {
    -fx-background-color: #669900;
}

#artistsbutton {
    -fx-background-color: #FF4444;
    -fx-background-radius: 0;
}

#artistsbutton:hover {
    -fx-background-color: #CC0000;
}

#albumsbutton {
    -fx-background-color: #FFBB33;
    -fx-background-radius: 0;
}

#albumsbutton:hover {
    -fx-background-color: #FF8800;
}

#gridPane {
    -fx-background-color: #ECF0F1;
}

#rightpane {
    fx-padding : 16px;
}

.itemBox{
    -fx-background-color: #FFFFFF;
}

.formLabel {
    -fx-font: 15px Tahoma;
    -fx-text-fill: #ECF0F1;
}

.formButton {
    -fx-text-fill: #95A5A6;
    -fx-background-color: #ECF0F1;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 8;
}

.formButton:hover {
    -fx-opacity: 0.7;
}


/* card */
.simpleCard {
    -fx-padding: 10px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 0px 0px 2px 0px;
}

.simpleCard:hover{
    -fx-border-width: 4px 4px 4px 4px;
}

.simpleCardClicked {
    -fx-border-width: 4px 4px 4px 4px;
}

.peopleCard {
    -fx-padding: 5px 0px 5px 10px;
}

.peopleCardDrag {
	-fx-border-width: 4px 4px 4px 4px;
	-fx-border-style : dashed;
	-fx-opacity: 0.4;
}

.groupCard {
    -fx-padding: 5px 0px 5px 0px;
}


/* imagebutton */
.imageButton {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 2;
}

.imageButton:hover {
    -fx-opacity: 0.6;
}

/* custom scrollbar of myScrollPane */
.myScrollPane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.myScrollPane:focused {
    -fx-background-insets: 0;
}

.myScrollPane .corner {
    -fx-background-color:transparent;
}

.myScrollPane .scroll-bar:horizontal,
.myScrollPane .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.myScrollPane .increment-button,
.myScrollPane .decrement-button {
    -fx-background-color:#F0F0F0;
    -fx-border-color: #F0F0F0;
}

.myScrollPane .scroll-bar:horizontal .track ,
.myScrollPane .scroll-bar:vertical .track{
    -fx-background-color: #F0F0F0;
    -fx-border-color: #F0F0F0;
    -fx-background-radius: 0em;
}

.myScrollPane .scroll-bar:horizontal .thumb,
.myScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #CDCDCD;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;

}

.myScrollPane .scroll-bar .thumb:hover,
.myScrollPane .scroll-bar .thumb:pressed{
    -fx-background-color: #A6A6A6;
}

.myScrollPaneWithTopBorder {
    -fx-border-color: #BDC3C7;
    -fx-border-width: 2px 0px 0px 0px;
}

/* text */

.panetitle {
    -fx-font-size : 28px;
}

.largeTextGrey ,
.largeTextGreyBold{
	-fx-font-size : 18px;
  	-fx-text-fill: #BDC3C7;
}

.largeTextGreyBold{
      -fx-font-weight: bold;
 }
