.modal-dialog {
  -fx-padding: 20;
  -fx-spacing: 10;
  -fx-alignment: center;
  -fx-font-size: 20;
  -fx-border-width: 5;
  -fx-background-insets: 12;
  -fx-border-insets: 10;
  -fx-border-radius: 6;
  -fx-background-radius: 6;
}

.positiveButton {
    -fx-background-color: #99CC00;
    -fx-background-radius: 0;
}

.positiveButton:hover {
    -fx-background-color: #669900;
}

.negativeButton {
    -fx-background-color: #FF4444;
    -fx-background-radius: 0;
}

.negativeButton:hover {
    -fx-background-color: #CC0000;
}

.text-field {
    -fx-background-color:
        #99CC00,
        #FFFFFF;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0, 0;
 }

.text-field:focused {
    -fx-background-color:
        #99CC00,
        #FFFFFF;
}

.text-field:hover {
    -fx-background-color:
        #99CC00,
        #FFFFFF;
}

.text-field:focused:hover {
    -fx-background-color:
        #99CC00,
        #FFFFFF;
}