root { 
    display: block;    
}

#registrationRoot {
    -fx-background-color: #95A5A6;
}

#top_rectangle_1 {
    -fx-fill: #0099CC;
}

#top_rectangle_2 {
    -fx-fill: #9933CC;
}

#top_rectangle_3 {
    -fx-fill: #669900;
}

#top_rectangle_4 {
    -fx-fill: #FF8800;
}

#top_rectangle_5 {
    -fx-fill: #CC0000;
}

#registrationTitle {
    -fx-font: 35px Tahoma;
    -fx-text-fill: #ECF0F1;
}