.rankingSystemLabel {
    -fx-font-size : 13px;
    -fx-text-fill: #7F8C8D;
}

.ownerLabel {
    -fx-font-size : 13px;
    -fx-text-fill: #99CC00;
    -fx-font-weight : bold;
}

#commentSectionTitle {
    -fx-font-size : 20px;
    -fx-text-fill: #7F8C8D;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #95A5A6;
    -fx-padding: 0px 50px 3px 0px;
}

.commentTitleContainer {
    -fx-background-color: #99CC00;
    -fx-padding: 3px 10px 3px 10px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #669900;
}

.commentTitle {
    -fx-font-size: 16px;
    -fx-text-fill: #7F8C8D;
}

.commentContent {
    -fx-font-size: 14px;
    -fx-text-fill: #7F8C8D;
}

#addCommentButton {
    -fx-padding : 7px 25px 7px 25px; 
    -fx-background-radius: 0;
    -fx-font-size : 13px;
    -fx-border-width : 0px 0px 2px 0px;
    -fx-background-color: #99CC00;
    -fx-border-color : #669900;
    -fx-text-fill: #7F8C8D;
}

#addCommentButton:hover {
    -fx-opacity: 0.7;
}

#commentTextArea {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 4px;
    -fx-border-color: #95A5A6;
    -fx-text-fill: #95A5A6;
    -fx-font-size : 14px;
}